*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgb(43, 28, 28);
    height: 100vh;
    width: 100vw;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.divbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    

}
.button{
    height: 50px;
    width: 50px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
       
}
.container img{
    max-height: 50%;
    width: 100%;
    border-radius: 15px 15px;
    
}
.card1{
    text-align: center;
    height: 300px;
    width: 200px;
    background-color: antiquewhite;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 3px 3px 12px #aaaa;
}
.card1 p{
    padding-top: 0.5rem;
    color: gray
}
.card1 h2{
    padding-top: 0.5rem;
    
    
}
.card1 button{
    background-color: rgb(168, 168, 245);
    border-radius: 5px;
    height: 30px;
    width: 150px;
    margin-top: 8px;
    cursor: pointer;
    font-size: 1rem;
}
.card2 button{
    background-color: rgb(168, 168, 245);
    border-radius: 5px;
    height: 30px;
    width: 150px;
    margin-top: 8px;
    cursor: pointer;
    font-size: 1rem;
}
.card3 button{
    background-color: rgb(168, 168, 245);
    border-radius: 5px;
    height: 30px;
    width: 150px;
    margin-top: 8px;
    cursor: pointer;
    font-size: 1rem;
}
.card2{
    text-align: center;
    height: 300px;
    width: 200px;
    background-color: antiquewhite;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 3px 3px 12px #aaaa;
    
}
.card2 p{
    padding-top: 0.5rem;
    color: gray
}
.card2 h2{
    padding-top: 0.5rem;
    
}
.card3{
    text-align: center;
    height: 300px;
    width: 200px;
    background-color: antiquewhite;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 3px 3px 12px #aaaa;
    
}
.card3 p{
    padding-top: 0.5rem;
    color: gray
}
.card3 h2{
    padding-top: 0.5rem;
    
}
.novadiv{
    height: 100px;
    width: 100px;
    background-color: blue;
}


